body {
    font-family: 'Nunito Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1278px;
    margin: 0 auto;
}

.btn {
    font-weight: 900;
    font-size: 18px;
    line-height: 32px;
    padding: 15px 52px 15px 52px;
    color: #fff;
    transition: all 0.5s ease 0s;
    background: #576CD9;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
    text-decoration: none;
}

.btn:hover {
    background-color: #fff;
    color: #576CD9;
}

.btn__blog {
    font-weight: 700;
    font-size: 22px;
    line-height: 39px;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    color: #8295F3;
}
.btn__blog:hover {
    opacity: 0.8;
}

#last-blog {
    margin: 0;
}

.title {
    font-weight: 900;
    font-size: 60px;
    line-height: 84px;
    color: #27292E;
}

.subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #585C65;
}

#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 50px;
    right: 31px;
    width: 26px;
    height: 26px;  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;  
    width: 100%;
    height: 2px;  
    background-color: #616161;  
    transition-duration: .25s;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: 1s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .5s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }